body {
    background-color: brown;
}

.li-tab {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    padding: 2px;
    width: 350px;
    margin: 10px;
    line-height: 3em;
    color: white;
    background: maroon;
    font-weight: bold;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
}